html {
	font-size: 10rem;
	background-color: lightgreen;
}

@
include media-breakpoint-up (sm ) {html {
	font-size: 12rem;
}

}
@
include media-breakpoint-up (md ) {html {
	font-size: 14rem;
}

}
@
include media-breakpoint-up (lg ) {html {
	font-size: 16rem;
}

}
body {
	height: 100%;
}

.container {
	display: flex; /* or inline-flex */
}

th.tableHeader {
	text-align: center;
}

span.spacing {
	margin-right: 10px;
}

input.custom-width {
	width: 200px;
}

input.spacing {
	margin-right: 5px;
}

table-dark>td {
	/* 	background-color: #bb1818; */
	
}

#grad1 {
	background-color: #efefef;
	/* For browsers that do not support gradients */
	background-image: linear-gradient(to bottom, #efefef, lightgreen);
}